@font-face {
    font-family: brand;
    src: url(fonts/DancingScript-VariableFont_wght.ttf);
  }
  body{
  background-color: rgb(243, 244, 245);
  
  }
  hr{
  height: 2px;
  background-color: rgb(213, 214, 226);
  
  margin-bottom: 30px;
  border: none;
  }
  
  .brand_{
    font-family: brand;
    font-size: 35px;
    
  }
  
  .heading{
    margin: auto;
    margin-top: 34px;
    text-align: center;
    margin-bottom: 40px;
    font-size:37px;
    min-height: 50px;
    max-height: 70;
    min-width: 150px;
    max-width: 300px;;
  }
  .nav{
    margin-right: -7px;
    position: absolute;
    z-index: 32px;
  }
 
 